pipeline/pipeline_get_metadat.json
{
	"name": "pipeline_get_metadat",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Validation",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "source_ds",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems",
						"lastModified"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "op",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get Metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "op",
					"value": {
						"value": "@activity('Get Metadata').output.childItems",
						"type": "Expression"
					}
				}
			},
			{
				"name": "op2",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get Metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "new",
					"value": {
						"value": "@activity('Get Metadata').output.lastModified",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Validation",
				"type": "Validation",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "source_ds",
						"type": "DatasetReference"
					},
					"timeout": "0.00:00:00",
					"sleep": 0
				}
			}
		],
		"variables": {
			"op": {
				"type": "Array"
			},
			"op1": {
				"type": "String"
			},
			"new": {
				"type": "String"
			}
		},
		"annotations": []
	}
}